# UMS Stream Configuration
CHANNEL_ID=uVXuBCKCRhy
STREAM_PASSWORD=

# MediaMTX Server Configuration
MEDIAMTX_SERVER=localhost:8554

# Hardware Encoding (set to 1 to enable NVENC, 0 for software encoding)
USE_NVENC=0
